.nav_menu {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #34c47c;
  margin-top: 22px;
}

.nav_menu ul,
.nav_list li,
.nav_menu nav,
.nav_menu img {
  display: inline-block;
}

.nav_list li,
a {
  text-decoration: none;
  color: #34c47c;
}

.nav_list li {
  margin: 0 120px;
}

/*tabela do título*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #34c47c;
  margin: 0px;
  padding: 0px;
}

.main_titulo {
  width: 100%;
  text-align: center;
  height: 100px;
  margin-top: 60px;
  color: rgb(5, 55, 55);
}

.nav_menu img {
  width: 80px;
  position: absolute;
  left: -120px;
  margin-left: 20%;
  top: 25px;
}

.corpo {
  display: flex;
  color: white;
}

.categorias {
  width: 20%;
  min-width: 200px;
}

.container_produtos {
  display: flex;
  flex-flow: row wrap;
}

.container_intens {
  width: 20%;
  padding: 10px;
  text-align: center;
}

.container_intens img {
  object-fit: cover;
  height: 50%;
  width: 100%;
}

.tb_lojas {
  width: 100%;
  color: rgb(3, 71, 71);
  text-align: center;
}

.formulário {
  align-content: center;
  height: 20%;
  width: 60%;
}

/*rodapé*/
#rodapé {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(5, 55, 55);
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
